input[type=text], input[type=password], input[type=date], input[type=num],input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.container{
    width: 70%;
    /* background-color: #f44336; */
    /* align-items: "center"; */
    margin-left: auto;
}
.cancelbtn {
    width: auto;
    padding: 14px 20px;
    background-color: #f44336;
}
.signupbtn{
    width: auto;
    padding: 14px 20px;
    background-color: #2a20ed89;
}